<div class="grid grid-cols-1  lg:grid-cols-[100px,1fr] h-full">

  <aside class="sticky top-0 hidden h-screen p-4 space-y-4 overflow-y-auto bg-white border-r border-gray-200 lg:block">
    <img [src]="'vaga_logo.png'" [alt]="'image'" [width]="30" class="mx-auto" />
    <nav class="flex flex-col gap-2">
      @for (item of routes; track $index) {
      <a [routerLink]="item.route" routerLinkActive="bg-gray-100 text-gray-900 font-medium" [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center gap-2 p-2 transition-colors rounded-md hover:bg-gray-50 hover:text-gray-900">
        <img [src]="item.icons" [alt]="'icon'" [width]="25" />
        <span class="text-xs text-gray-500">{{item.label}}</span>
      </a>
      }
    </nav>
  </aside>

  <main class="h-screen overflow-y-auto">

    <!-- ************ -->
    <!-- HERO SECTION -->
    <!-- ************ -->
    <section class="border-b bg-gradient-to-b from-background to-secondary/20">
      <div class="flex flex-col items-center justify-center pt-12 overflow-y-hidden text-center ">
        <div class="max-w-4xl space-y-4">
          <div class="inline-block rounded-full border bg-secondary/50 px-4 py-1.5 text-sm">
            متوافق مع قانون الفاتورة الإلكترونية التونسية
          </div>
          <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl">
            اخدم فتوراتك بكل بساطة
          </h1>
          <p class="mx-auto max-w-[700px] text-xl text-muted-foreground md:text-xl">
            حل خفيف و قوي باش تسيّر فواتيرك. متوافق 100% مع قانون الفاتورة الإلكترونية التونسية
          </p>
          <img src="home/hero.png" alt='logo' class='relative lg:-bottom-12 -bottom-4' />
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="px-6 py-5 text-xs text-center text-gray-400 border-t border-gray-100">
      &copy; {{ year }} YourProduct. All rights reserved.
    </footer>
  </main>

</div>
