/** @type {import('tailwindcss').Config} */
module.exports = {
  darkMode: ["class"],
  content: ["./app/**/*.{ts,tsx}", "./components/**/*.{ts,tsx}"],
  theme: {
    extend: {
      colors: {
        border: "hsl(var(--border))",
        input: "hsl(var(--input))",
        ring: "hsl(var(--ring))",
        background: "hsl(var(--background))",
        foreground: "hsl(var(--foreground))",
        brand: {
          DEFAULT: "#3ecf8e", // Supabase Green
          600: "#34b27b",
          500: "#3ecf8e",
          400: "#63e6be",
        },
        zinc: {
          50: "#f8f9fa",
          100: "#f1f3f5",
          200: "#e9ecef",
          800: "#1c1c1c",
          900: "#121212",
        },
        // Vaga localized accent (Prism Flow)
        enterprise: {
          navy: "#0f172a",
          ice: "#f0f9ff",
        }
      },
      borderRadius: {
        lg: "var(--radius)",
        md: "calc(var(--radius) - 2px)",
        sm: "calc(var(--radius) - 4px)",
      },
    },
  },
  plugins: [require("tailwindcss-animate")],
}